/* Inicio */
.inicio-section {
    text-align: center;
    padding: 4rem 0;
}

.inicio-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.inicio-section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.inicio-img-container img {
    width: 100%;
    max-width: 800px !important;  /* AGRANDA y achica la imagen */
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 5px 25px rgba(0,0,0,0.15);
}




/* ABOUT */

.about-section {
    padding: 4rem 0;
}

.about-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;   
    align-items: center;      
    text-align: center;      
    gap: 2rem;
    padding-top: 2rem;   
    padding-bottom: 4rem;
}

.about-photo img {
    width: 300px;         
    height: 300px;         
    border-radius: 15px;   
    object-fit: cover;     
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

.about-text {
    max-width: 750px;
}

.about-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.about-text h2 {
    margin-top: 1.5rem;
    font-size: 1.6rem;
}

.about-text p {
    font-size: 1.15rem;
    line-height: 1.7;
    margin-bottom: 0.9rem;
    text-align: justify;   
}
